<nav class="primary-navigation">
  <ul>
    <li>
      {{> atoms-btn:btn-nav|active(label: "Nav 11") }}
    </li>
    <li>
      {{> atoms-btn:btn-nav(label: "Nav 22")}}
    </li>
    <li>
      {{> atoms-btn:btn-nav(label: "Nav 33")}}
    </li>
    <li>
      {{> atoms-btn:btn-nav(label: "Nav 44")}}
    </li>
    <li>
      {{> atoms-btn:btn-nav(label: "Nav 55")}}
    </li>
  </ul>
</nav>
