<ul class="sg-colors" id="colors">
  <li>
    <span class="sg-swatch" style="background: #194e54;"></span>
    <span class="sg-label">#225057 | $brand-primary</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #64A505;"></span>
    <span class="sg-label">#64A505 | $brand-success</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #414B55;"></span>
    <span class="sg-label">#686868 | $brand-info</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #d70f14;"></span>
    <span class="sg-label">#d70f14 | $brand-warning</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #373a3c;"></span>
    <span class="sg-label">#373a3c | $gray-dark</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #818a91;"></span>
    <span class="sg-label">#818a91 | $gray-light</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #e9e9e9;"></span>
    <span class="sg-label">#e9e9e9 | $gray-lighter</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #fcfcfc;"></span>
    <span class="sg-label">#fcfcfc | $gray-lightest</span>
  </li>
</ul>
