<section class="content">
  <h3>{{headline.short}}</h3>
  <p>{{description}}</p>
  <p>{{description}}</p>
  <p>{{description}}</p>
  {{> atoms-seperator}}
  <h3>{{headline.short}}</h3>
  <p>{{description}}</p>
  <p>{{description}}</p>
  <p>{{description}}</p>
  <p>{{description}}</p>
</section>
