<div class="container-fluid __demo__ __btn__demo__">

  <div class="row">
    <div class="col-xs-4">
      <h4>Default buttons</h4>
      <button type="button" class="btn">Label</button>
      <button type="button" class="btn btn-primary">Label</button>
      <button type="button" class="btn btn-secondary">Label</button>
      <button type="button" class="btn btn-warning">Label</button>
      <button type="button" class="btn btn-info">Label</button>
      <button type="button" class="btn btn-link">Label</button>
    </div>
    <div class="col-xs-4">
      <h4>Disabled buttons</h4>
      <button type="button" disabled class="btn">Label</button>
      <button type="button" disabled class="btn btn-primary">Label</button>
      <button type="button" disabled class="btn btn-secondary">Label</button>
      <button type="button" disabled class="btn btn-warning">Label</button>
      <button type="button" disabled class="btn btn-info">Label</button>
      <button type="button" disabled class="btn btn-link">Label</button>
    </div>
    <div class="col-xs-4">
      <h4>Icon buttons</h4>
      <button type="button" class="btn"><i class="fa fa-minus"></i>Label</button>
      <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i>Label</button>
      <button type="button" class="btn btn-secondary"><i class="fa fa-coffee"></i>Label</button>
      <button type="button" class="btn btn-warning"><i class="fa fa-bank"></i>Label</button>
      <button type="button" class="btn btn-info"><i class="fa fa-circle"></i>Label</button>
      <button type="button" class="btn btn-link"><i class="fa fa-comments"></i>Label</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-4">
      <h4>Small default buttons</h4>
      <button type="button" class="btn btn-small">Label</button>
      <button type="button" class="btn btn-primary btn-small">Label</button>
      <button type="button" class="btn btn-secondary btn-small">Label</button>
      <button type="button" class="btn btn-warning btn-small">Label</button>
      <button type="button" class="btn btn-info btn-small">Label</button>
      <button type="button" class="btn btn-link btn-small">Label</button>
    </div>
    <div class="col-xs-4">
      <h4>Small disabled buttons</h4>
      <button type="button" disabled class="btn btn-small">Label</button>
      <button type="button" disabled class="btn btn-primary btn-small">Label</button>
      <button type="button" disabled class="btn btn-secondary btn-small">Label</button>
      <button type="button" disabled class="btn btn-warning btn-small">Label</button>
      <button type="button" disabled class="btn btn-info btn-small">Label</button>
      <button type="button" disabled class="btn btn-link btn-small">Label</button>
    </div>
    <div class="col-xs-4">
      <h4>Small icon buttons</h4>
      <button type="button" class="btn btn-small"><i class="fa fa-minus"></i>Label</button>
      <button type="button" class="btn btn-primary btn-small"><i class="fa fa-plus"></i>Label</button>
      <button type="button" class="btn btn-secondary btn-small"><i class="fa fa-coffee"></i>Label</button>
      <button type="button" class="btn btn-warning btn-small"><i class="fa fa-bank"></i>Label</button>
      <button type="button" class="btn btn-info btn-small"><i class="fa fa-circle"></i>Label</button>
      <button type="button" class="btn btn-link btn-small"><i class="fa fa-comments"></i>Label</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-6">
      <h4>Navigation buttons</h4>
      <a href="#" class="btn btn-nav disabled">Nav button 1</a>
      <a href="#" class="btn btn-nav active">Nav button 2</a>
      <a href="#" class="btn btn-nav">Nav button 3</a>
      <a href="#" class="btn btn-nav"><i class="fa fa-comments"></i>Nav button 4</a>
      <a href="#" class="btn btn-nav"><i class="fa fa-coffee"></i>Nav button 5</a>
    </div>
    <div class="col-xs-6">
      <h4>Navigation toggle buttons</h4>
<!-- todo - checkbox --> <!-- no-js -->
      <button type="button" class="btn btn-primary btn-hamburger"></button>
      <br>
      <button type="button" class="btn btn-primary btn-hamburger active"></button>
    </div>
  </div>
</div>
