<select class="form-control" id="name">
  <option>{{form.select.option1}}</option>
  <option>{{form.select.option2}}</option>
  <option>{{form.select.option3}}</option>
  <option>{{form.select.option4}}</option>
</select>
