<input class="form-control" tabindex="0" name="name1" type="text" required="" placeholder="Type text">

<br>
<input class="form-control" tabindex="2" name="name2" type="number" required="" placeholder="Type number">
<br>
<input class="form-control" tabindex="3" name="name3" type="password" required="" placeholder="Type password">
<br>
<input class="form-control" tabindex="4" name="name3" type="email" required="" placeholder="Type email">
<br>
<input class="form-control" tabindex="5" name="name4" type="text" required="" placeholder="Type text" disabled
       maxlength="10">
<br>
<input class="form-control" tabindex="6" type="date" name="name5">
<input class="form-control" tabindex="7" name="name6" type="datetime-local" value="2016-08-19T13:45:00" id="name1">
<hr>
<label for="name1">Label</label>
<hr>
<input class="form-check-input" type="checkbox" value="option1">





